.MovieDetails {
    height: 100%;
    overflow-y: auto;
    color: #fff !important;

}

.error {
    text-align: center;
    padding: 2rem 1rem;
    color: #fff !important;
    span{
        font-style: italic;
    }
}